#jinja2: lstrip_blocks: "true"
<config>
  <native xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-native">
    <key>
      <chain xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-crypto">
        <name>{{ eigrp["name"] }}</name>
      {% for key in eigrp_auth["keys"] %}
        <key>
          <id>{{ key["id"] }}</id>
          <key-string>
            <encryption>0</encryption>
            <key>{{ key["secret"] }}</key>
          </key-string>
        </key>
      {% endfor %}
      </chain>
    </key>
    <router>
      <eigrp xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-eigrp">
        <id>{{ eigrp["name"] }}</id>
        <address-family>
          <type>ipv4</type>
          <af-ip-list>
            <unicast-multicast>unicast</unicast-multicast>
            <autonomous-system>{{ eigrp["as"] }}</autonomous-system>
          {% for interface in uplinks %}
            <af-interface>
              <name>{{ interface["interface"] }}</name>
              <authentication>
                <mode>
                  <md5/>
                </mode>
                <key-chain>{{ eigrp_auth["name"] }}</key-chain>
              </authentication>
            </af-interface>
          {% endfor %}
          </af-ip-list>
        </address-family>
      </eigrp>
    </router>
  </native>
</config>