<config>
  <native xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-native">
    <ip>
      <access-list>
        <standard xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-acl">
          <name>10</name>
          <access-list-seq-rule>
            <sequence>10</sequence>
            <permit>
              <std-ace>
                <ipv4-prefix>{{ multicast_network | ipaddr("network")}}</ipv4-prefix>
                <mask>{{ multicast_network | ipaddr("wildcard")}}</mask>
              </std-ace>
            </permit>
          </access-list-seq-rule>
        </standard>
      </access-list>
      <pim>
        <send-rp-announce xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-multicast">
          <interface_list>
            <if-name>Loopback1</if-name>
            <scope>
              <pkt-ttl>32</pkt-ttl>
              <group-list>
                <acl-ref>10</acl-ref>
              </group-list>
            </scope>
          </interface_list>
        </send-rp-announce>
      </pim>
    </ip>
  </native>
</config>
