<config>
  <native xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-native">
    <vlan>
      <vlan-list xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-vlan">
        <id>{{ anti_vlan_hop }}</id>
        <name>AntiVLANhopping</name>
      </vlan-list>
    </vlan>
  </native>
</config>
