<config>
  <native xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-native">
    <ip>
      <routing/>
      <mcr-conf xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-multicast">
        <multicast-routing/>
      </mcr-conf>
    </ip>
  </native>
</config>
