#jinja2: lstrip_blocks: "true"
<config>
  <native xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-native">
    <ip>
      <access-list>
        <standard xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-acl">
          <name>MANAGEMENT</name>
          {% for management_subnet in management_acl_subnets %}
          <access-list-seq-rule>
            <sequence>{{ loop.index * 10 }}</sequence>
            <permit>
              <std-ace>
                <ipv4-prefix>{{ management_subnet | ipaddr("network") }}</ipv4-prefix>
                <mask>{{ management_subnet | ipaddr("wildcard") }}</mask>
              </std-ace>
            </permit>
          </access-list-seq-rule>
          {% endfor %}
        </standard>
      </access-list>
    </ip>
    <snmp-server>
      <community xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-snmp">
        <name>{{ snmp_read_only_name }}</name>
        <RO/>
        <access-list-name>MANAGEMENT</access-list-name>
      </community>
      <community xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-snmp">
        <name>{{ snmp_read_write_name }}</name>
        <RW/>
        <access-list-name>MANAGEMENT</access-list-name>
      </community>
    </snmp-server>
    <line>
      <vty>
        <first>0</first>
        <last>4</last>
        <access-class>
          <acccess-list>
            <direction>in</direction>
            <access-list>MANAGEMENT</access-list>
            <vrf-also/>
          </acccess-list>
        </access-class>
      </vty>
      <vty>
        <first>5</first>
        <last>15</last>
        <access-class>
          <acccess-list>
            <direction>in</direction>
            <access-list>MANAGEMENT</access-list>
          {% if model | string in ["3650", "3850"] %}
            <vrf-also/>
          {% endif %}
          </acccess-list>
        </access-class>
      </vty>
    </line>
  </native>
</config>
