#jinja2: lstrip_blocks: "true"
<config>
  <native xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-native">
    <interface>
  {% for interface_list in port_channels|selectattr("type","equalto","routed_uplink")|list %}
  {% for interface in interface_list['interfaces'] %}
    {% set interface_type = interface.split("Ethernet") %}
    {% if interface_type[0].startswith("Port-channel") %}
      <Port-channel>
    {% else %}
      <{{ interface_type[0] ~ "Ethernet" }}>
    {% endif %}
        <name>{{ interface_type[-1].lstrip("Port-channel") }}</name>
        <ip>
          <ospf xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-ospf">
          {% for key in ospf_auth["keys"] %}
            <message-digest-key>
              <id>{{ key["id"] }}</id>
              <md5>
                <auth-key>{{ key["secret"] }}</auth-key>
              </md5>
            </message-digest-key>
          {% endfor %}
            <network>point-to-point</network>
          </ospf>
        </ip>
    {% if interface_type[0].startswith("Port-channel") %}
      </Port-channel>
    {% else %}
      </{{ interface_type[0] ~ "Ethernet" }}>
    {% endif %}
  {% endfor %}
  {% endfor %}
    </interface>
  </native>
</config>
