<config>
  <native xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-native">
    <spanning-tree>
      <portfast xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-spanning-tree">
        <bdpu>bpduguard</bdpu>
        <default/>
      </portfast>
    </spanning-tree>
  </native>
</config>
