<config>
  <native xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-native">
    <table-map>
      <name>policed-dscp</name>
      <default xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-qos">copy</default>
      <map xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-qos">
          <from>0</from>
          <to>8</to>
      </map>
      <map xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-qos">
          <from>10</from>
          <to>8</to>
      </map>
      <map xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-qos">
          <from>18</from>
          <to>8</to>
      </map>
      <map xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-qos">
          <from>24</from>
          <to>8</to>
      </map>
      <map xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-qos">
          <from>46</from>
          <to>8</to>
      </map>
    </table-map>
    <policy>
      <class-map xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-policy">
        <name>CISCO-PHONE-VOICE</name>
        <prematch>match-any</prematch>
        <match>
          <cos>5</cos>
        </match>
      </class-map>
      <class-map xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-policy">
        <name>CISCO-PHONE-SIGNALING</name>
        <prematch>match-any</prematch>
        <match>
          <cos>3</cos>
        </match>
      </class-map>
      <class-map xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-policy">
        <name>PRIORITY-QUEUE</name>
        <prematch>match-any</prematch>
        <match>
          <dscp>ef</dscp>
        </match>
      </class-map>
      <class-map xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-policy">
        <name>VIDEO-PRIORITY-QUEUE</name>
        <prematch>match-any</prematch>
        <match>
          <dscp>cs5</dscp>
          <dscp>cs4</dscp>
        </match>
      </class-map>
      <class-map xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-policy">
        <name>CONTROL-MGMT-QUEUE</name>
        <prematch>match-any</prematch>
        <match>
          <dscp>cs7</dscp>
          <dscp>cs6</dscp>
          <dscp>cs3</dscp>
          <dscp>cs2</dscp>
        </match>
      </class-map>
      <class-map xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-policy">
        <name>MULTIMEDIA-CONFERENCING-QUEUE</name>
        <prematch>match-any</prematch>
        <match>
          <dscp>af41</dscp>
          <dscp>af42</dscp>
          <dscp>af43</dscp>
        </match>
      </class-map>
      <class-map xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-policy">
        <name>MULTIMEDIA-STREAMING-QUEUE</name>
        <prematch>match-any</prematch>
        <match>
          <dscp>af31</dscp>
          <dscp>af32</dscp>
          <dscp>af33</dscp>
        </match>
      </class-map>
      <class-map xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-policy">
        <name>TRANSACTIONAL-DATA-QUEUE</name>
        <prematch>match-any</prematch>
        <match>
          <dscp>af21</dscp>
          <dscp>af22</dscp>
          <dscp>af23</dscp>
        </match>
      </class-map>
      <class-map xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-policy">
        <name>BULK-SCAVENGER-DATA-QUEUE</name>
        <prematch>match-any</prematch>
        <match>
          <dscp>af11</dscp>
          <dscp>af12</dscp>
          <dscp>af13</dscp>
          <dscp>cs1</dscp>
        </match>
      </class-map>
      <policy-map xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-policy">
        <name>CISCO-PHONE</name>
        <class>
          <name>CISCO-PHONE-VOICE</name>
          <action-list>
            <action-type>set</action-type>
            <set>
              <dscp>
                <dscp-val>ef</dscp-val>
              </dscp>
            </set>
          </action-list>
          <action-list>
            <action-type>police</action-type>
            <police-policy-map>
              <police>
                <cir>128000</cir>
                <bc>8000</bc>
                <actions>
                  <conform-transmit>
                    <conform-action>
                      <transmit/>
                    </conform-action>
                  </conform-transmit>
                  <exceed-set-dscp-transmit>
                    <exceed-action>
                      <set-dscp-transmit>
                        <dscp>
                          <table>policed-dscp</table>
                        </dscp>
                      </set-dscp-transmit>
                    </exceed-action>
                  </exceed-set-dscp-transmit>
                </actions>
              </police>
            </police-policy-map>
          </action-list>
        </class>
        <class>
          <name>CISCO-PHONE-SIGNALING</name>
          <action-list>
            <action-type>set</action-type>
            <set>
              <dscp>
                <dscp-val>cs3</dscp-val>
              </dscp>
            </set>
          </action-list>
          <action-list>
            <action-type>police</action-type>
            <police-policy-map>
              <police>
                <cir>32000</cir>
                <bc>8000</bc>
                <actions>
                  <conform-transmit>
                    <conform-action>
                      <transmit/>
                    </conform-action>
                  </conform-transmit>
                  <exceed-set-dscp-transmit>
                    <exceed-action>
                      <set-dscp-transmit>
                        <dscp>
                          <table>policed-dscp</table>
                        </dscp>
                      </set-dscp-transmit>
                    </exceed-action>
                  </exceed-set-dscp-transmit>
                </actions>
              </police>
            </police-policy-map>
          </action-list>
        </class>
        <class>
          <name>class-default</name>
          <action-list>
            <action-type>set</action-type>
            <set>
              <dscp>
                <dscp-val>default</dscp-val>
              </dscp>
            </set>
          </action-list>
        </class>
      </policy-map>
      <policy-map xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-policy">
        <name>2P6Q3T</name>
        <class>
          <name>PRIORITY-QUEUE</name>
          <action-list>
            <action-type>priority</action-type>
            <priority>
              <level>1</level>
            </priority>
          </action-list>
          <action-list>
            <action-type>police</action-type>
            <police-rate-percent>
              <police>
                <rate>
                  <percent>
                    <percentage>10</percentage>
                  </percent>
                </rate>
              </police>
            </police-rate-percent>
          </action-list>
        </class>
        <class>
          <name>VIDEO-PRIORITY-QUEUE</name>
          <action-list>
            <action-type>priority</action-type>
            <priority>
              <level>2</level>
            </priority>
          </action-list>
          <action-list>
            <action-type>police</action-type>
            <police-rate-percent>
              <police>
                <rate>
                  <percent>
                    <percentage>20</percentage>
                  </percent>
                </rate>
              </police>
            </police-rate-percent>
          </action-list>
        </class>
        <class>
          <name>CONTROL-MGMT-QUEUE</name>
          <action-list>
            <action-type>bandwidth</action-type>
            <bandwidth>
              <remaining>
                <rem-option>percent</rem-option>
                <percent>10</percent>
              </remaining>
            </bandwidth>
          </action-list>
          <action-list>
            <action-type>queue-buffers</action-type>
            <queue-buffers>
              <ratio>10</ratio>
            </queue-buffers>
          </action-list>
        </class>
        <class>
          <name>MULTIMEDIA-CONFERENCING-QUEUE</name>
          <action-list>
            <action-type>bandwidth</action-type>
            <bandwidth>
              <remaining>
                <rem-option>percent</rem-option>
                <percent>10</percent>
              </remaining>
            </bandwidth>
          </action-list>
          <action-list>
            <action-type>queue-buffers</action-type>
            <queue-buffers>
              <ratio>10</ratio>
            </queue-buffers>
          </action-list>
          <action-list>
            <action-type>queue-limit</action-type>
            <queue-limit-dscp>
              <dscp>
                <dscp-val>af43</dscp-val>
                <percent>80</percent>
              </dscp>
              <dscp>
                <dscp-val>af42</dscp-val>
                <percent>90</percent>
              </dscp>
              <dscp>
                <dscp-val>af41</dscp-val>
                <percent>100</percent>
              </dscp>
            </queue-limit-dscp>
          </action-list>
        </class>
        <class>
          <name>MULTIMEDIA-STREAMING-QUEUE</name>
          <action-list>
            <action-type>bandwidth</action-type>
            <bandwidth>
              <remaining>
                <rem-option>percent</rem-option>
                <percent>10</percent>
              </remaining>
            </bandwidth>
          </action-list>
          <action-list>
            <action-type>queue-buffers</action-type>
            <queue-buffers>
              <ratio>10</ratio>
            </queue-buffers>
          </action-list>
          <action-list>
            <action-type>queue-limit</action-type>
            <queue-limit-dscp>
              <dscp>
                <dscp-val>af33</dscp-val>
                <percent>80</percent>
              </dscp>
              <dscp>
                <dscp-val>af32</dscp-val>
                <percent>90</percent>
              </dscp>
              <dscp>
                <dscp-val>af31</dscp-val>
                <percent>100</percent>
              </dscp>
            </queue-limit-dscp>
          </action-list>
        </class>
        <class>
          <name>TRANSACTIONAL-DATA-QUEUE</name>
          <action-list>
            <action-type>bandwidth</action-type>
            <bandwidth>
              <remaining>
                <rem-option>percent</rem-option>
                <percent>10</percent>
              </remaining>
            </bandwidth>
          </action-list>
          <action-list>
            <action-type>queue-buffers</action-type>
            <queue-buffers>
              <ratio>10</ratio>
            </queue-buffers>
          </action-list>
          <action-list>
            <action-type>queue-limit</action-type>
            <queue-limit-dscp>
              <dscp>
                <dscp-val>af23</dscp-val>
                <percent>80</percent>
              </dscp>
              <dscp>
                <dscp-val>af22</dscp-val>
                <percent>90</percent>
              </dscp>
              <dscp>
                <dscp-val>af21</dscp-val>
                <percent>100</percent>
              </dscp>
            </queue-limit-dscp>
          </action-list>
        </class>
        <class>
          <name>BULK-SCAVENGER-DATA-QUEUE</name>
          <action-list>
            <action-type>bandwidth</action-type>
            <bandwidth>
              <remaining>
                <rem-option>percent</rem-option>
                <percent>5</percent>
              </remaining>
            </bandwidth>
          </action-list>
          <action-list>
            <action-type>queue-buffers</action-type>
            <queue-buffers>
              <ratio>10</ratio>
            </queue-buffers>
          </action-list>
          <action-list>
            <action-type>queue-limit</action-type>
            <queue-limit-dscp>
              <dscp>
                <dscp-val>af13</dscp-val>
                <percent>80</percent>
              </dscp>
              <dscp>
                <dscp-val>af12</dscp-val>
                <percent>90</percent>
              </dscp>
              <dscp>
                <dscp-val>af11</dscp-val>
                <percent>100</percent>
              </dscp>
            </queue-limit-dscp>
          </action-list>
        </class>
        <class>
          <name>class-default</name>
          <action-list>
            <action-type>bandwidth</action-type>
            <bandwidth>
              <remaining>
                <rem-option>percent</rem-option>
                <percent>25</percent>
              </remaining>
            </bandwidth>
          </action-list>
          <action-list>
            <action-type>queue-buffers</action-type>
            <queue-buffers>
              <ratio>25</ratio>
            </queue-buffers>
          </action-list>
        </class>
      </policy-map>
    </policy>
  </native>
</config>
