<config>
  <native xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-native">
    <policy>
      <class-map xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-policy">
        <name>PRIORITY-QUEUE</name>
        <prematch>match-any</prematch>
        <match>
          <dscp>ef</dscp>
          <dscp>cs5</dscp>
          <dscp>cs4</dscp>
        </match>
      </class-map>
      <class-map xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-policy">
        <name>CONTROL-MGMT-QUEUE</name>
        <prematch>match-any</prematch>
        <match>
          <dscp>cs7</dscp>
          <dscp>cs6</dscp>
          <dscp>cs3</dscp>
          <dscp>cs2</dscp>
        </match>
      </class-map>
      <class-map xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-policy">
        <name>MULTIMEDIA-CONFERENCING-QUEUE</name>
        <prematch>match-any</prematch>
        <match>
          <dscp>af41</dscp>
          <dscp>af42</dscp>
          <dscp>af43</dscp>
        </match>
      </class-map>
      <class-map xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-policy">
        <name>MULTIMEDIA-STREAMING-QUEUE</name>
        <prematch>match-any</prematch>
        <match>
          <dscp>af31</dscp>
          <dscp>af32</dscp>
          <dscp>af33</dscp>
        </match>
      </class-map>
      <class-map xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-policy">
        <name>TRANSACTIONAL-DATA-QUEUE</name>
        <prematch>match-any</prematch>
        <match>
          <dscp>af21</dscp>
          <dscp>af22</dscp>
          <dscp>af23</dscp>
        </match>
      </class-map>
      <class-map xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-policy">
        <name>BULK-DATA-QUEUE</name>
        <prematch>match-any</prematch>
        <match>
          <dscp>af11</dscp>
          <dscp>af12</dscp>
          <dscp>af13</dscp>
        </match>
      </class-map>
      <class-map xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-policy">
        <name>SCAVENGER-QUEUE</name>
        <prematch>match-any</prematch>
        <match>
          <dscp>cs1</dscp>
        </match>
      </class-map>
      <policy-map xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-policy">
        <name>1P7Q1T</name>
        <class>
          <name>PRIORITY-QUEUE</name>
          <action-list>
            <action-type>priority</action-type>
          </action-list>
        </class>
        <class>
          <name>CONTROL-MGMT-QUEUE</name>
          <action-list>
            <action-type>bandwidth</action-type>
            <bandwidth>
              <remaining>
                <rem-option>percent</rem-option>
                <percent>10</percent>
              </remaining>
            </bandwidth>
          </action-list>
        </class>
       <class>
          <name>MULTIMEDIA-CONFERENCING-QUEUE</name>
          <action-list>
            <action-type>bandwidth</action-type>
            <bandwidth>
              <remaining>
                <rem-option>percent</rem-option>
                <percent>10</percent>
              </remaining>
            </bandwidth>
          </action-list>
        </class>
       <class>
          <name>MULTIMEDIA-STREAMING-QUEUE</name>
          <action-list>
            <action-type>bandwidth</action-type>
            <bandwidth>
              <remaining>
                <rem-option>percent</rem-option>
                <percent>10</percent>
              </remaining>
            </bandwidth>
          </action-list>
        </class>
       <class>
          <name>TRANSACTIONAL-DATA-QUEUE</name>
          <action-list>
            <action-type>bandwidth</action-type>
            <bandwidth>
              <remaining>
                <rem-option>percent</rem-option>
                <percent>10</percent>
              </remaining>
            </bandwidth>
            </dbl>
          </action-list>
        </class>
       <class>
          <name>BULK-DATA-QUEUE</name>
          <action-list>
            <action-type>bandwidth</action-type>
            <bandwidth>
              <remaining>
                <rem-option>percent</rem-option>
                <percent>4</percent>
              </remaining>
            </bandwidth>
            </dbl>
          </action-list>
        </class>
       <class>
          <name>SCAVENGER-QUEUE</name>
          <action-list>
            <action-type>bandwidth</action-type>
            <bandwidth>
              <remaining>
                <rem-option>percent</rem-option>
                <percent>1</percent>
              </remaining>
            </bandwidth>
          </action-list>
        </class>
       <class>
          <name>class-default</name>
          <action-list>
            <action-type>bandwidth</action-type>
            <bandwidth>
              <remaining>
                <rem-option>percent</rem-option>
                <percent>25</percent>
              </remaining>
            </bandwidth>
          </action-list>
        </class>
  </native>
</config>
