<config>
  <native xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-native">
    <ip>
        <pim>
          <accept-register xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-multicast">
          </accept-register>
          <autorp xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-multicast">
            <listener/>
          </autorp>
        </pim>
    </ip>
  </native>
</config>
