<config>
  <native xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-native">
    <spanning-tree>
      <mode xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-spanning-tree">rapid-pvst</mode>
    </spanning-tree>
  </native>
</config>
